  <div class="card">
        <div class="card-body">
          <p class="card-text">
            <h4 style="text-align: center;">Biometric Data</h4>
           {% include item/biometric-data.html %}
          </p>
        </div>
      </div>
<div class="card">
        <div class="card-body">
          <p class="card-text" style="text-align: center;">
            <h4 style="text-align: center;">Tags</h4>
              <div id="tags-metadata">
                  <dl>
                      <dd class="subject">
                          {% assign topics = page.subject | split: ";" %}
                          {% for t in topics %}
                          <a class="me-3" href="{{ t | strip | url_param_escape | prepend: ':' | prepend: f.field | prepend: '/browse.html#' | relative_url }}">{{ t | strip }}</a>
                        {% endfor %}
                      </dd>
                  </dl>
              </div>
          </p>
        </div>
      </div>